<p-table [value]="userData">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Add</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-userData let-i="rowIndex" let-last="last">
    <tr>
      <td pEditableColumn>{{ userData.id }}</td>
      <td pEditableColumn>{{ userData.name }}</td>
      <td pEditableColumn>{{ userData.email }}</td>
      <td *ngIf="last">
        <button pButton type="button" (click)="addRow(i)">Add</button>
      </td>
      <td *ngIf="!last"></td>
    </tr>
  </ng-template>
</p-table>
