<p-table [value]="userData">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Add</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-userData let-i="rowIndex">
    <tr>
      <td pEditableColumn>{{ userData[i].id }}</td>
      <td pEditableColumn>{{ userData[i].name }}</td>
      <td pEditableColumn>{{ userData[i].email }}</td>
      <td *ngIf="i === userData.length - 1">
        <button pButton type="button" (click)="addRow()">Add</button>
      </td>
      <td *ngIf="i !== userData.length - 1"></td>
    </tr>
  </ng-template>
</p-table>

SELECT *
FROM Table2
WHERE SomeColumn IN (
    SELECT value
    FROM STRING_SPLIT((SELECT CommaSeparatedColumn FROM Table1), ',')
)
SELECT *
FROM Table2
WHERE ',' + (
    SELECT CommaSeparatedColumn
    FROM Table1
) + ',' LIKE '%,' + ColumnToMatch + ',%'


